/* RESET */

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GENERAL */

.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */

header {
    padding: 10px;
}

header img,
header h1 {
    vertical-align: middle;
}

h1 {
    display: inline;
}

/* MAIN */

main {
    background: #F5F8F9;
    padding: 20px 0;
}

.tasks-container {
    background-color: white;
    padding: 20px;
    margin-bottom: 5px;
}

.container-1 {
    border-radius: 10px 10px 0 0;
}

.container-2 {
    border-radius: 0 0 10px 10px;
}

/* BOTTONI ADD */

.button {
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.add-tasks {
    color: white;
    background-color: #48ADF1;
}

.add-section {
    color: #CFD4D8;
    background-color: white;
    border-style: solid;
    border-color: #CFD4D8;
}

/* CIRCLES, CHECK & CROSS */

.circle {
    margin-right: 5px;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.check {
    color: #82CDBB;
    border-color: #82CDBB;
}

.cross {
    color: #EE6058;
    border-color: #EE6058;
}

/* TODO */

.todo {
    margin-top: 20px;
    margin-bottom: 30px
}

.todo-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

/* LABEL */

.label {
    color: white;
    font-size: small;
    background-color: black;
    border-radius: 50px;
    padding: 7px;
    margin: 5px;
}

.label-blue {
    background-color: #45ABEA;
}

/* TODO GENERAL */

.section-1 circle,
.check,
.contenuto,
.label {
    vertical-align: middle;
}