/* RESET */

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GENERAL */

.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */

header {
    padding: 10px;
}

header img,
header h1 {
    vertical-align: middle;
}

h1 {
    display: inline;
}

/* MAIN */

main {
    background: #F5F8F9;
    padding: 20px 0;
}

.tasks-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.button {
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.add-tasks {
    color: white;
    background-color: #48ADF1;
}

.add-section {
    color: #CFD4D8;
    background-color: white;
    border-style: solid;
    border-color: #CFD4D8;
}